<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <div style="display:flex ;justify-content: center; width: 100%;">
    <div class="text-center">
        <img src="/static/image/error_gif.gif" style="width: 400px;" alt="">
        <h1 class="text-center" style="font-weight: 100;">Username or Password is Incorrect</h1>
       
    </div>
</div>   
 

</body>
</html>